#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    text-align: center;
    background-color: #aa68ae;
}
#navbar li {display:inline;}

#navbar a {
    color:#ffffff;
    padding: 5px 10px;
    text-decoration:none;
    font-weight:bold;
    display:inline-block;
    width:auto
}

    #navbar a:hover {
        background-color: #ffffff;
        color:#aa68ae
    }

h2 {
    color: #aa68ae;
    text-align: center;
   font-family:luminari,fantasy;
}

.content {
    margin-left: 140px;
    margin-right: 220px;
}
#photo {
   
    margin: 50px 100px;
    float: right;
}

#photo img {
    margin: 3px;
    padding: 10px;
    background: #fff;
    border: 1px solid #aa68ae;
    width: 150px;
    height: 220px;
    border-radius:8px;
    box-shadow: 2px 1px 5px #555;
}

#photo img:hover{
	box-shadow: 7px 3px 7px #888;
	transform: scale(1.2)
}





#photo p{
	color: #aa68ae;
    text-align: center;
   font-family:luminari,fantasy;
   font-size: 30px;
   
}

#content p {
    margin:5px;
    text-indent:20px;
	color: #fff;
	
}

#content {
	padding: 10px;
    margin-left: 450px;
    margin-top:50px;
    margin-right: 320px;
    background: #aa68ae;
border-radius: 10px;}
	
	#content:hover {
	background-image: url(u.jpg);
	 box-shadow: 7px 1px 7px #999;
	}
	
	#inform{
		
    margin-left: 50px;
    margin-top:50px;
    background: #fff;
font-size: 18px;
float:left;}
	
	#inform p{
    margin: 10px ;
	color:  #aa68ae;
    font-family:luminari,fantasy;
	}
	
	
	#inform img {
		height:200px;
		width:200px;
	margin-left:50px;
	float:left;
	}
	
	
	#xyita img {
		height:400px;
		width:1480px;
		 margin-left:55px;
		 margin-top:-450px;
		 border-radius:18px;
		 float:left;
		 filter:grayscale(1);
	}
	
	#xyita img:hover {
		filter:grayscale(0);
	}
	
	#reklama img{
		float:left;
		height:210px;
		width:125px;
		margin-left: -350px;
		margin-top:390px;
		
	}
	
	#reklama p
	{
		float:left;
		height:210px;
		width:230px;
		margin-left: -220px;
		margin-top:390px;
		font-family:comic sans ms;
		border: 1px solid #000;
	}
	
	#reklama{
	border: 1px solid #000;}
	
	#Footer {
    background-color:#aa68ae;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
	color:#fff;}
	
	
	